body{
    font-family: 'Raleway', sans-serif;
    background-color: #000;
}

/*Navbar*/

.navbar{
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.navbar-brand{
    font-family: "Stick No Bills", sans-serif;
    font-size: 20px;
    font-weight: 300;
}

svg{
    width: 30px;
    height: auto;
}

/*Quienes-Somos*/

.cuadrito{
    background-color: rgb(12,202,239);
    width: 100%;
    height: auto;
}

@media (max-width: 767.98px) {  
    #swapper {   
        display:flex;
        flex-direction: column-reverse;  
    }  
    .swap-B {
        order : 1;
        margin-top: .5rem;   
    }  
    .swap-A {
        order : 2;
     } 
 }

/*Destacados*/

.card{
    background-color: rgb(12,202,239);
}

.card-img-top {
    height: 140px;
    object-fit: cover;
}

/*Contacto*/

button{
    color: rgb(12,202,239);
}

/* Referencia (Lineas 66 a 74): https://medium.com/mkdir-awesome/how-to-change-the-bootstrap-5-tooltip-background-and-arrow-color-67e6c5aea510*/
.tooltip-inner {
    background-color: rgb(12,202,239);
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: rgb(12,202,239) !important;
}

/*Footer*/

#Footer{
    background-color: rgb(12,202,239);
}

.fab{
    color: #ffffff;
}